<IfModule mod_rewrite.c>

RewriteEngine On
RewriteRule ^index.html$ - [L]
RewriteCond %{REQUEST_URI} !.(js|css|png|jpg|jpeg|gif|svg|ttf|woff|woff2|mp4|mp3|xml)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

</IfModule>